html,body{
    background-color: skyblue;
    letter-spacing: 5px;
    height: 40%;

}
.container{
    max-width: 400px;
}
.icon{
    position: relative;
    border-radius: 50%;
    top:-50px;
    
 }