html,body{
    background-color: skyblue;
    letter-spacing: 5px;
    height: 60%;
}
.container{
    max-width: 400px;
}
.icon{
    position: relative;
    border-radius: 50%;
    top:-50px;
    margin-bottom: -50px;
 }