html,body{
    background-color: rgb(196, 202, 204);
    letter-spacing: 5px;
    height: 55%;
    }
.container{
    max-width: 400px;
}
.icon{
    position: relative;
    border-radius: 50%;
    top:-50px;
    }